<html>
	<head>
{%load static%}
<title>ShareYourFiles</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" href="static/css/st.css" type="text/css" media="screen">

	</head>

<body>

	<div class="header">
		<div class="headertext">Welcome to ShareYourFiles</div>
        </div>
<div class="content2">
<h1>Welcome to Share Your Files</h1>
Hooray! You are logged in and you can go to your 
<a href="http://localhost:8004/my_page">profile</a> manage files
</div>
</div>
</div>
	<div class="footer">
		<div class="text">
		<a href="#" class="text">Reference</a>
		<a href="#" class="text">About</a>
		</div>
        </div>

</body>
</html>