<html>
	<head>
{%load static%}
<title>ShareYourFiles</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" href="static/css/style.css" type="text/css" media="screen">

	</head>

<body>

	<div class="header">
		<div class="headertext">Welcome to ShareYourFiles</div>
        </div>
<div>
	<div class="content1">
		<div class="buttonright">
		<a href="http://localhost:8004/accounts/register/" class="button">Registration</a>
                </div>
                <div class="buttonleft">
		<a href="http://localhost:8004/accounts/login/" class="button">Login</a>
		</div>
        </div>
<div>
<div class="content2">
<h1>Welcome to Share Your Files</h1>
Here you will be able to store and share their files
</div>
</div>
</div>
	<div class="footer">
		<div class="text">
		<a href="#" class="text">Reference</a>
		<a href="#" class="text">About</a>
		</div>
        </div>

</body>
</html>