body 
{
background-image:url('kosmos1.jpg'); 
}

.header {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    width:100%;
    height:100px;  
    color: #ffffff
}
.headertext {
	font-family:'Times New Roman', Times, serif;
	font-weight:bold;
	font-size:60pt;
	text-align:center;
}

.buttonright{
  float:rigth;
  }
.buttonleft{
  float:left;
  }
.button {
text-decoration: none;
    cursor:pointer;
    display:block;
    color: #ffffff;
    height:68px;
    width:320px;
    text-align: center;
    font-size: 20;
    line-height:70px;
    text-align:center;
    background-image:url('button-sprite.png');
    background-repeat:no-repeat;
} 

.button:hover { background-image:url('button.png'); }
.button:active {
  background-image:url('button.png');
}

.content1 {
display: inline-block;
    opacity:0.75;
    width:325px;
    height:150px;
    border:1px solid #FFFFFFF;
position:absolute; top:40%; left:60%;
    margin:10px;
    #padding-top:180px;
}
.content2 {
display: inline-block;
    opacity:0.75;
    width:325px;
    height:150px;
    border:1px solid #FFFFFFF;
position:absolute; top:40%; left:20%;
    margin:10px;
    #padding-top:180px;
}

.footer {
    color: #ffffff;
    margin-top:400px;
    margin-left:18%;
    margin-right:auto;
    width:100%;
    height:50px;
    }

 .text {
color: #ffffff;
  font-family:'Times New Roman', Times, serif;
  font-size:15pt;
  text-align:  center;
}

